<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
       <% @profiles.each do |profile| %>
          <% unless profile.id == current_account.profile.id %>
            <div class="col-md-3", style="margin-top:3%; margin-bottom:3%; margin-left:3%; margin-right:3%" >
              <div class="row">  
                <div class="col-sm-3">
                  <% if profile.profile_image.attached? %>
                    <%= image_tag profile.profile_image, class: "img-thumbnail rounded-circle", style:"width:75px; height:75px" %>
                  <% else %>
                    <p>No image attached</p>
                  <% end %>
                </div>
                <div class="col-sm-5">
                  <div class="col-sm-5 mt-2">
                    <%= link_to profile_path(profile) do%>
                      <b><%= profile.user_name %></b>
                    <% end %>
                    <p ><%= profile.name %></p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="col-sm-5 mt-3">
                    <% follow = Follow.find_by(account_id: profile.account.id, current_account_id: current_account.id) %>
                    <% if follow.present? %>
                      <div>
                        <%= form_for(follow, url: follow_path(follow), method: :delete) do |form| %>
                          <%= form.submit "Unfollow", class: "btn btn-danger" %>
                        <% end %>                      
                      </div>
                    <% else %>
                      <div>
                        <%= form_for(@follow, url: follows_path, method: :post) do |form| %>
                          <%= form.hidden_field :account_id, value: profile.account.id %>
                          <%= form.hidden_field :current_account_id, value: current_account.id %>
                          <%= form.submit "Follow", class: "btn btn-success" %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
       <% end %> 
      </div>
    </div>
  </div>
</div>
